@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <div class="wrapper wrapper-content animated fadeInUp">
            <ul class="notes">
                <li>
                    <a href="/Sistema/Usuario">
                        <div>
                            <small>CADASTRO</small>
                            <h4>USUÁRIO</h4>
                            <p>Aqui uma descrição sobre o que é o usuário.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
