@model List<B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Cadastro.ViewModel.TipoBlocoView>
@using B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Cadastro.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vdfiltro = ViewData["filtro"];
    string filtro = (vdfiltro != null) ? vdfiltro.ToString() : string.Empty;

    int resultados = (Model == null) ? 0 : Model.Count(); 
}

<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-title">
                <h5>@Html.Raw((filtro != string.Empty) ? string.Format("Resultados para a pesquisa: \" {0} \", retornou {1} registro(s).", filtro, resultados) : (resultados > 1) ? string.Format("Todos os {0} Tipos de Blocos", resultados) : (resultados == 1) ? "Um único Tipo de Bloco foi localizado" : "Nenhum Tipo de Bloco foi localizado")</h5>
                <div class="ibox-tools">
                    <a href="/Cadastro/TipoBloco/Novo" class="btn btn-primary btn-xs">Criar Novo Tipo de Bloco</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" onclick="location.href = location.href;"><i class="fa fa-refresh"></i> Atualizar</button>
                    @if (Model != null)
                    { 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Ativo?</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TipoBlocoView item in Model)
                            {
                                <tr>
                                    <td>@item.Descricao</td>
                                    <td>@Html.Raw((item.Ativo) ? "<a href=\"#\"><i class=\"fa fa-check text-navy\"></i></a>" : "")</td>
                                    <td><a href="/Cadastro/TipoBloco/Editar/@item.TipoBlocoId">Editar</a> | <a href="/Cadastro/TipoBloco/Excluir/@item.TipoBlocoId">Excluir</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                        @Html.Raw("Nenhum tipo de bloco foi cadastrado.")
                    }
                </div>
            </div>
        </div>
    </div>
</div>