@using System.Web.Optimization
@{
    ViewBag.Title = "Lançamento";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/DataTables")


<table id="editable" class="table table-striped table-bordered text-nowrap dataTables-example" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="2" style="vertical-align: middle; text-align: center;">FORNECEDOR</th>
            <th colspan="9" style="background-color:#06EAC3; vertical-align: middle;">COMPLEMENTO LANÇAMENTO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">JANEIRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">FEVEREIRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">MARCO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">1º TRIMESTRE</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">ABRIL</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">MAIO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">JUNHO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">2º TRIMESTRE</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">JULHO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">AGOSTO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">SETEMBRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">3º TRIMESTRE</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">OUTUBRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">NOVEMBRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">DEZEMBRO</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">4º TRIMESTRE</th>
            <th colspan="5" style="background-color: #CCCCCC; font-size: 14px; vertical-align: middle; text-align: center;">TOTAL ANO</th>
        </tr>
        <tr>
            <th rowspan="2" style="background-color: #CCCCCC;vertical-align: middle; text-align: center;">RAZÃO SOCIAL</th>
            <th rowspan="2" style="background-color: #CCCCCC;vertical-align: middle; text-align: center;">NOME FANTASIA</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">RESPONSAVEL</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">ANO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">ATIVO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">SERVICO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">TIPO BLOCO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">BLOCO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">ALTERADO</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">STATUS</th>
            <th rowspan="2" style="background-color: #06E4AC;vertical-align: middle; text-align: center;">TIPO DE PGTO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
            <th>ORCADO</th>
            <th>BACKLOG</th>
            <th>CAIXA</th>
            <th>REAL</th>
            <th>ACUMULADO</th>
        </tr>
        <tr>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
            <th style="font-size:13px; color: #06E4AC; font-weight:bold; font-style:italic;">R$ - </th>
        </tr>
    </thead>

</table>

<style type="text/css">
    .dataTables_scrollHead {
        background-color: #FFF;
    }

    /*.DTFC_LeftBodyLiner {
        overflow-y: visible !important;
    }*/

    .DTFC_LeftWrapper {
    }

    .DTFC_LeftBodyLiner {
    }

    .ColVis_collection {
        height: 250px;
        overflow-y: scroll !important;
        width: 200px !important;
        left: 1103px !important;
    }

</style>

