@using B2WTI.PCFTI.DOMINIO.Model.Global
@model List<B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Cadastro.ViewModel.ResponsavelView>
@using B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Cadastro.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vdfiltro = ViewData["filtro"];
    string filtro = (vdfiltro != null) ? vdfiltro.ToString() : string.Empty;

    int resultados = (Model == null) ? 0 : Model.Count(); 
}


<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-title">
                <h5>@Html.Raw((filtro != string.Empty) ? string.Format("Resultados para a pesquisa: \" {0} \", retornou {1} registro(s).", filtro, resultados)
                          : (resultados > 1) ? string.Format("Todos os {0} Responsáveis", resultados) : (resultados == 1) ? "Um único Responsável foi localizado" : "Nenhum Responsável foi localizado")</h5>
                <div class="ibox-tools">
                    <a href="/Cadastro/Responsavel/Novo" class="btn btn-primary btn-xs">Criar Novo Responsável</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" onclick="location.href = location.href;"><i class="fa fa-refresh"></i> Atualizar</button>
                    @if (Model != null)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Ativo?</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ResponsavelView item in Model)
                                {
                                    <tr>
                                        <td>@item.Descricao</td>
                                        <td>@Html.Raw((item.Ativo) ? "<a href=\"#\"><i class=\"fa fa-check text-navy\"></i></a>" : "")</td>
                                        <td>
                                            <a href="/Cadastro/Responsavel/Editar/@item.ResponsavelId">Editar</a> | <a href="/Cadastro/Responsavel/Excluir/@item.ResponsavelId">Excluir</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        @Html.Raw("Nenhum responsável foi cadastrado.")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

